body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  min-width: 100px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 12px;
}


#popup-title{
    margin: 0;
    line-height: 2em;
    font-size: 1.5em;
    font-weight: normal;
}

.text-indicator{
    font-weight: bold;
}

.logo{
    max-width: 64px;
}

.show {
  display: block;
}

.hide{
  display: none;
}


.options{
    font-size: 0.8em;
}

#enabled-indicator{
    line-height: 1.5rem;
    user-select:none;

}
.text-indicator{

    margin-right: .5em;
}

.toggle-timezonify-btn{
    cursor:pointer;
}

.form-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .form-switch i {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
  }
  
  .form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
  }
  
  .form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
  
  .form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
  }
  
  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  
  .form-switch input { display: none; }
  
  .form-switch input:checked + i { background-color: #4BD763; }
  
  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  
  .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

  /* Tabs */
  .tab-group{
    display: flex;
  }

  .tab {
    padding: 4px 8px;
    cursor:pointer;
    background: rgba(255, 255, 0, 0.1);
    transition: 0.4s;
  }

  .tab:hover{
    background: rgba(255, 255, 0, 0.6);
  }

  .active-tab{
    background: rgba(255, 255, 0, 0.5);
  }
  .tab-content-group{
    padding: 12px;
  }

  .tab-group{
    
  }
  .tab-group, .tab-content-group{
    font-size: 0.75em;

  }

